In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
df=pd.read_csv('_All_Cities_Cleaned.csv')
df

,seller_type,bedroom,layout_type,property_type,locality,price,area,furnish_type,bathroom,city
0,OWNER,2.0,BHK,Apartment,Bodakdev,20000.0,1450.0,Furnished,2.0,Ahmedabad
1,OWNER,1.0,RK,Studio Apartment,CG Road,7350.0,210.0,Semi-Furnished,1.0,Ahmedabad
2,OWNER,3.0,BHK,Apartment,Jodhpur,22000.0,1900.0,Unfurnished,3.0,Ahmedabad
3,OWNER,2.0,BHK,Independent House,Sanand,13000.0,1285.0,Semi-Furnished,2.0,Ahmedabad
4,OWNER,2.0,BHK,Independent House,Navrangpura,18000.0,1600.0,Furnished,2.0,Ahmedabad
...,...,...,...,...,...,...,...,...,...,...
193006,OWNER,1.0,BHK,Apartment,Chinchwad,13250.0,650.0,Semi-Furnished,1.0,Pune
193007,OWNER,1.0,RK,Studio Apartment,Wadgaon Sheri,7000.0,350.0,Unfurnished,1.0,Pune
193008,OWNER,1.0,BHK,Apartment,Kothrud,8500.0,389.0,Semi-Furnished,1.0,Pune
193009,AGENT,1.0,BHK,Apartment,Wakad,16500.0,670.0,Semi-Furnished,2.0,Pune
193010,AGENT,2.0,BHK,Apartment,Alandi,12000.0,800.0,Unfurnished,2.0,Pune

In [15]:
# Checking IF any Null values present
df.isnull().sum()

seller_type      0
bedroom          0
layout_type      0
property_type    0
locality         0
price            0
area             0
furnish_type     0
bathroom         0
city             0
dtype: int64

In [28]:
df['city'].value_counts()
cities=['Mumbai','Delhi','Bangalore','Kolkata']

### Creating Json File for columns

In [25]:
column=['bedroom','area','bathroom']
import json
columns={
    'data_columns':column
}
with open('columns.json','w') as f:
    f.write(json.dumps(columns))

# Making Prediction Models

In [14]:
# For Ahmedabad
df1=df[df['city']=='Ahmedabad']
df1=df1[['bedroom','price','area','bathroom']]

bedroom     float64
price       float64
area        float64
bathroom    float64
dtype: object

In [17]:
from sklearn import linear_model
reg=linear_model.LinearRegression()

In [18]:
reg.fit(df1[['bedroom','area','bathroom']],df1['price'])

LinearRegression()

In [22]:
reg.predict([[2,1500,2]])

array([20669.0798854])

In [23]:
import pickle
with open('ahmedabad_model','wb') as f:
    pickle.dump(reg,f)

# Now Creating All the models for various cities

In [29]:
for i in cities:
    df1=df[df['city']==i]
    df1=df1[['bedroom','price','area','bathroom']]
    reg=linear_model.LinearRegression()
    reg.fit(df1[['bedroom','area','bathroom']],df1['price'])
    print(reg.predict([[2,1500,2]])," ",i)
    name=i+'_model'
    with open(name,'wb') as f:
        pickle.dump(reg,f)

[87858.14912667]   Mumbai
[68188.59444981]   Delhi
[31173.09309066]   Bangalore
[37152.60815621]   Kolkata

In [ ]:
# Model Done