In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
df=pd.read_csv('_All_Cities_Cleaned.csv')
df

,seller_type,bedroom,layout_type,property_type,locality,price,area,furnish_type,bathroom,city
0,OWNER,2.0,BHK,Apartment,Bodakdev,20000.0,1450.0,Furnished,2.0,Ahmedabad
1,OWNER,1.0,RK,Studio Apartment,CG Road,7350.0,210.0,Semi-Furnished,1.0,Ahmedabad
2,OWNER,3.0,BHK,Apartment,Jodhpur,22000.0,1900.0,Unfurnished,3.0,Ahmedabad
3,OWNER,2.0,BHK,Independent House,Sanand,13000.0,1285.0,Semi-Furnished,2.0,Ahmedabad
4,OWNER,2.0,BHK,Independent House,Navrangpura,18000.0,1600.0,Furnished,2.0,Ahmedabad
...,...,...,...,...,...,...,...,...,...,...
193006,OWNER,1.0,BHK,Apartment,Chinchwad,13250.0,650.0,Semi-Furnished,1.0,Pune
193007,OWNER,1.0,RK,Studio Apartment,Wadgaon Sheri,7000.0,350.0,Unfurnished,1.0,Pune
193008,OWNER,1.0,BHK,Apartment,Kothrud,8500.0,389.0,Semi-Furnished,1.0,Pune
193009,AGENT,1.0,BHK,Apartment,Wakad,16500.0,670.0,Semi-Furnished,2.0,Pune
193010,AGENT,2.0,BHK,Apartment,Alandi,12000.0,800.0,Unfurnished,2.0,Pune

In [15]:
# Checking IF any Null values present
df.isnull().sum()

seller_type      0
bedroom          0
layout_type      0
property_type    0
locality         0
price            0
area             0
furnish_type     0
bathroom         0
city             0
dtype: int64

In [16]:
df['city'].value_counts()

Mumbai       67416
Delhi        32608
Bangalore    23072
Pune         22596
Ahmedabad    18453
Hyderabad    10544
Kolkata       9664
Chennai       8658
Name: city, dtype: int64

### Creating Json File for columns

In [25]:
column=['bedroom','area','bathroom']
import json
columns={
    'data_columns':column
}
with open('columns.json','w') as f:
    f.write(json.dumps(columns))

# Making Prediction Models

In [14]:
# For Ahmedabad
df1=df[df['city']=='Ahmedabad']
df1=df1[['bedroom','price','area','bathroom']]

bedroom     float64
price       float64
area        float64
bathroom    float64
dtype: object

In [17]:
from sklearn import linear_model
reg=linear_model.LinearRegression()

In [18]:
reg.fit(df1[['bedroom','area','bathroom']],df1['price'])

LinearRegression()

In [22]:
reg.predict([[2,1500,2]])

array([20669.0798854])

In [23]:
import pickle
with open('ahmedabad_model','wb') as f:
    pickle.dump(reg,f)

# Now Creating All the models for various cities

In [27]:
import os
print("PYTHONPATH:", os.environ.get('PYTHONPATH'))
print("PATH:", os.environ.get('PATH'))

PYTHONPATH: None
PATH: C:\Users\mohan\anaconda3;C:\Users\mohan\anaconda3\Library\mingw-w64\bin;C:\Users\mohan\anaconda3\Library\usr\bin;C:\Users\mohan\anaconda3\Library\bin;C:\Users\mohan\anaconda3\Scripts;C:\Users\mohan\anaconda3\bin;C:\Users\mohan\anaconda3\condabin;C:\Program Files (x86)\NVIDIA Corporation\PhysX\Common;C:\Program Files (x86)\Common Files\Oracle\Java\javapath;C:\ProgramData\Oracle\Java\javapath;C:\WINDOWS\system32;C:\WINDOWS;C:\WINDOWS\System32\Wbem;C:\WINDOWS\System32\WindowsPowerShell\v1.0;C:\WINDOWS\System32\OpenSSH;C:\MinGW\bin;C:\Users\mohan\anaconda3;C:\Users\mohan\anaconda3\Scripts;C:\Program Files\dotnet;C:\Program Files (x86)\dotnet;C:\Program Files\Git\cmd;C:\Program Files\Docker\Docker\resources\bin;C:\ProgramData\DockerDesktop\version-bin;C:\Program Files\MySQL\MySQL Server 8.0\bin;C:\Program Files\MySQL\MySQL Shell 8.0\bin;C:\Users\mohan\AppData\Local\Programs\Python\Python310\Scripts;C:\Users\mohan\AppData\Local\Programs\Python\Python310;C:\Users\mohan\AppData\Local\Microsoft\WindowsApps;C:\Users\mohan\AppData\Local\Programs\Microsoft VS Code\bin;C:\Program Files\JetBrains\PyCharm Community Edition 2021.2.2\bin;C:\Users\mohan\.dotnet\tools;C:\src\flutter\bin;C:\Users\mohan\AppData\Local\gitkraken\bin;C:\Hugo\bin;C:\MinGW\bin;C:\Users\mohan\AppData\Local\atom\bin;C:\Program Files\MySQL\MySQL Server 8.0\bin;C:\Users\mohan\AppData\Local\Microsoft\WindowsApps;C:\Program Files\heroku\bin;.